.configurator {
  margin-bottom: 10rem;
  transition: 0.5s;
  display: none;
  &--active {
    display: block;
  }

  &__options {
    display: grid;
    grid-template-columns: 1.5fr 1fr 2.5fr;
    gap: 22px; 
    margin-bottom: 3rem;
  }
  &__option {
    display: none;
    .pool_window {
      border: 1px solid #4081ff;
      border-radius: 5px;
      cursor: pointer;
      margin: 0px 0;
      padding: 2rem;
    }
    &--active {
      display: block;
    }

    &-window {
      border: 1px solid #e5e5e5;
      border-radius: 5px; 
      cursor: pointer;
      margin: 0px 0;
      padding: 2rem;

      .series__modelName {
        padding: 0rem 2rem 0rem;
      }
      .series__modelPrice {
        padding: 0.5rem 1rem 0;
      }
      .window_info {
        position: absolute; 
        border-radius: 5px;
        border: 2px solid #4081ff;
        padding: 2rem;
        background: white;
        min-height: 10rem;
        min-width: 40rem;
        width: fit-content;
        z-index: 10;
        display: none;
        pointer-events: none;
        text-align: left;
        p {
          font-size: 1.5rem;
        }
      }

      .right_hint {
        right: 0px;
      }
      span {
        font-size: 1.5rem;
      }
      ul {
        padding-top: 2rem;
        li {
          font-size: 1.5rem;
          padding: 0.5rem 0;
        }
      }
      &:hover {
        border: 1px solid #4081ff;
      }
    }

    &-header {
      font-size:14px;
    }
    
    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 11px;
    }
    &:nth-child(1) {
      .configurator__option-window {
        height: 30.5rem;
        text-align: center;
        .product__specifications {
          margin-top: 1rem;
        }
      }
    }
    &:nth-child(2) {
      .configurator__option-window {
        margin: 10px 0;
        position: relative;
        text-align: center;
        &.active {
          border-color: #4081ff;
        }
      }
    }
    &:nth-child(3) {
      .configurator__option-window {
        padding: auto 1.5rem;
        height: 14.7rem;
        position: relative;
        text-align: center;
        &.active {
          border-color: #4081ff;
        }
        img {
          margin-bottom: 1rem;
        }
        .clear_icon-container {
          position: absolute;
          width: 22px;
          height: 22px;
          top: 5px;
          left: 5px;
          display: none;
          z-index: 1;
          .clear_icon {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  &__equipment {
    display: none;
    &--active {
      display: block;
    }
    &-title {
      margin-bottom: 2rem;  
    }
    &-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      margin-bottom: 3rem;
      .configurator__option-window {
        position: relative;
        padding: auto;
        height: 17.3rem;
        text-align: center;
        &.active {
          border-color: #4081ff;
          .window_info + svg{
            path{
              fill: #4081FF;
            }
          }
        }
        img {
          margin-bottom: 1.5rem;
          height: 62px; 
          max-width: 80px;
        }
        .window_info + svg{
          margin-bottom: 1.5rem;
          height: 62px; 
          max-width: 80px;
          path{
            fill: #C8CAD1;
          }
        }
        .info_icon {
          pointer-events: none;
          circle {
            stroke: #cbcbcb;
          }
        }
        .info_icon-container {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          z-index: 9;
          &:hover {
            circle{
              stroke: #4081ff;
            }
            path{
              fill: #4081ff;
            }
          }
        }
      
        img.option-window_country {
          max-width: 100px;
          position: absolute;
          bottom: 0;
          right: 0;
          margin: 0;
          border-bottom-right-radius: 5px;
        }
        &.change-window {
          display: none;
          border-radius: 5px;
        }
      }
      .clear_icon-container {
        position: absolute;
        width: 22px;
        height: 22px;
        top: 5px;
        left: 5px;
        display: none;
        z-index: 1;
        .clear_icon {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &__pools {
    &--active {
      display: block;
    }
    display: none;
    margin-bottom: 10rem;
    transition: 0.5s;
    &-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
      margin: 2rem 0;

      &_modified {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        margin: 2rem 0;
        .configurator__option-window {
          position: relative;
          padding: 2rem;
        }
      }
    }
  }

  &__estimate {
    h4 {
      margin: 4rem 0;
    }
    background: #f9f9fa;
    text-align: center;
    padding: 5rem 0;
    &-table {
      text-align: left;
      width: 50%;
      margin: auto;
      tr {
        border-bottom: 1px solid #e5e5e5;
        height: 5rem;
      }
      td {
        font-size: 1.5rem;
        max-width: 17rem;
      }
    }
    &-tableRow_modified {
      border-bottom: none !important;
    }
    &-buttons {
      display: flex;
      height: 43px;
      margin: 5rem auto;
      width: fit-content;
    }
    &-button {
      padding: 1rem;
      font-size: 1.4rem;
      &:nth-child(1) {
        width: 186px;
        background-color: #4081ff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:nth-child(2) {
        width: 135px;
        background-color: #ffffff;
        border: 1px solid #4081ff;
        color: #4081ff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
    &-message {
      width: 70rem;
      font-size: 1.5rem;
      margin: auto;
    }
  }
  &__bottom-buttons {
    width: calc(100vw - 28rem);
    position: fixed;
    z-index: 83;
    height: 60px;
    bottom: 0;
    padding: 1rem 0;
    left: 28rem;
    background: #fafafa;
    .center-wrap {
      height: 100%;
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .btn-link {
        position: absolute;
        left: 0;
      }
      div {
        &:nth-child(2) {
          display: flex;
          height: 100%;
        }
      }
      button {
        height: 100%;
        padding: 0;
        font-size: 14px;
      }
      #bottom_price {
        color: #353535;
        font-size: 1.7rem;
        font-weight: bold;
        padding: 1.5rem 1.5rem 1.5rem 1rem;
        display: block;
      }
      .showCalc__btn {
        background-color: #4081FF;
        border: 1px solid #4081FF;
      }
    }
  }
}

.window_icon {
  overflow: hidden;
  display: none;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.info_icon-container {
  position: absolute;
  z-index: 5;
  top: 0.5rem;
  right: 0.5rem;
  .info_icon {
    pointer-events: none;
    circle {
      stroke: #cbcbcb;
    }
  }
  &:hover {
    circle{
      stroke: #4081ff;
    }
    path{
      fill: #4081ff;
    }
  }
}

