.select__variants {
  min-width: 22rem;
  height: 22rem;
  &-range {
    overflow: hidden;
    width: fit-content;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    max-width: 18rem;
    height: 10rem;
    .delta_price {
      display: flex;
      max-width: 100%;
      margin-bottom: 1rem;
      input {
        width: 7rem;
        border: 1px solid #e5e5e5;
        padding: 0.5rem;
        &:nth-child(1) {
          margin-right: 2.5rem;
        }
      }
    }
    .allHide {
      span {
        font-size: 1rem;
        &.min_val {
          margin-right: 11rem;
        }
      }
    }
  }
  .check_container {
    input {
      margin: 4px;
      appearance: checkbox;
    }
  }
}


  .filter_param {
    &--active {
      background: #4081FF;
      color: white;
    }
  }



.pool-filters {
  &__sort {
    &-title {
      display: block;
      &:nth-child(1) {
        display: none;
      }
    }
  }
  &__filter {
    .select {
      .clear_filters {
        display: none;
      }
      .filter_param--active {
        padding-right: 32px;
        & ~ .select__arrow {
            display: none;
        }
        & ~ .clear_filters {
          display: block;
          position: absolute;
          top: 6px;
          right: 8px;
          z-index: 3;
        }
        &:after {
          content: "|";
          position: relative;
          font-size: 40px;
          left: 5px;
        } 
    }
      &:hover {
        .filter_param--active {
            color: white;
            & + .select__arrow {
                display: none;
            }
        }
      }
    }
    .select--active {
      .select__value {
        border: 1px solid #4081FF;
        position: relative;
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 3;
      }
      .select__variants {
        border-top-left-radius: 0px;
      }
      .select__arrow {
        z-index: 3;
      }
    }
  } 

  .select__value {
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    line-height: 2.9rem;
  }
  .productForm.desktop_filters{
  display: flex;
  }

  @media screen and (max-width: $small_tablet) {
    &__sort {
      display: block;
      background: #fafafa;
      padding: 1rem 2rem 1rem 2rem;
      margin: 2.4rem 0 3rem;
      &-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .select {
          font-size: 1.4rem;
          position: relative;
          user-select: none;
          display: inline-block;
          &__value {
            width: 15rem;
            font-size: 1rem;
          }
          &__arrow {
            top: 65%;
          }
        }
      }
      &-right {
        display: none;
      }
      &-quantity {
        font-size: 1.2rem;
      }
      &-title {
        font-size: 1.2rem;
        margin: 0;
        &:nth-child(1) {
          display: block;
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }

    &__wrap {
      display: block;
      .card {
        width: 70%;
        margin: auto;
        margin-bottom: 1.8rem;
      }
    }
  }
}


  .catalog_filter-actions {
    position: absolute;
    top: 22rem;
    z-index: 2;
    width: 100%;
    min-width: 22rem;
    display: none;
  }
  .select--active .select__variants {
  border: 1px solid #4081ff;
  max-height: 19.4rem;
  top: 98%;
  }
  .pool-filters .show_result {
    width: 100%;
    border-radius: 0;
  }
  .select--active .catalog_filter-actions {
    display: block;
  }
  .show_result:hover {
    background-color: #4081FF;
    color: #fff;
  }
  .show_result:active:focus, .show_result:focus {
    outline: none;
  }


  .catalog_slider-actions {
    width: 75%;
    margin-left: 58px;
    .catalog_slider-actions__apply {
      padding: 12px;
      max-width: 85%;
      max-height: 20px;
      font-size: 12px;
      line-height: 0;
      &:hover {
        background-color: #4081FF;
        color: #fff;
      }
    }
    .catalog_slider-actions__apply:active:focus, .catalog_slider-actions__apply:focus {
      outline: none;
    }
  }