.product {
    padding-top: 2.1rem;

    &__top {
        padding-bottom: 2rem;
        border-bottom: 1px solid #EEEEEE;

        @media screen and (max-width:$large_tablet) {
            border: none;
            padding-bottom: 1rem;
        }
    }
    
    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 113.5%;
        color: #000000;
        max-width: 54rem;
        margin-bottom: 2rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.6rem;
            max-width: 32rem;
            margin-bottom: 2.4rem;
        }
    }

    &__column {
        max-width: 27.7rem;
        width: 100%;
        padding-top: 1rem;
        margin-right: 3.5rem;

        &.anchors {
            padding-left: 15px;
        }

        @media screen and (max-width:$large_tablet) {
            padding-top: 0;
            margin-bottom: 3.5rem;
            max-width: 100%;
            margin-right: 0;
        }

        &:last-child {
            margin-right: 0px;
        }

        &-title {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 142.3%;
            color: #484848;
            margin-bottom: 2rem;
            width: 100%;
        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
            align-items: flex-start;
        }

        &-right {
            display: flex;
            align-items: center;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 2.4rem;
            }
        }

        &-postpone {
            margin-right: 1rem;

            svg {
                width: 1.4rem;
                fill: none !important;
            }
        }
    }

    &__power {
        &-list {
            display: flex;
            margin-bottom: 3.5rem;
        }

        &-item {
            border: 1px solid #EEEEEE;
            border-radius: 2px;
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 2.9rem;
            text-align: center;
            color: #727272;
            padding: 0 1.2rem;
            margin-right: 1rem;
            transition: all 0.5s;
            cursor: pointer;

            &--active {
                background: #4081FF;
                border: 1px solid #4081FF;
                color: #FFFFFF;
            }

            &:last-child {
                margin-right: 0px;
            }

            &:hover {
                border: 1px solid #4081FF;
            }
        }
    }

    &__specifications {
        margin-bottom: 0.2rem;
        display: flex;
        flex-wrap: wrap;
        &-item {
            font-size: 1.4rem;
            line-height: 142.3%;
            color: #676767;
            margin-bottom: 0.7rem;
            font-weight: 400;
            &Name {
                width: 85px;
            }
            &Dash {
                width: 30px;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            span {
                font-weight: 600;
                font-size: 1.4rem;
                line-height: 142.3%;
                color: #484848;
            }
        }

        &-link {
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 142.3%;
            color: #4081FF;
            position: relative;
            margin-top: 2rem;
            display: inline-block;


            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 1px;
                width: 100%;
                height: 1px;
                background: #4081FF;
                opacity: 1;
                transition: all 0.5s;
            }

            &:hover::before {
                width: 0%;
                opacity: 0;
            }

        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:$large_tablet) {
            display:block;
        }
        &-wrap {
            padding: 3.5rem 0;
            border-top: 1px solid #EEEEEE;
            @media screen and (max-width:$large_tablet) {
            padding: 3.5rem 0 0;
            }
            .center-wrap {
                @media screen and (max-width:$large_mobile) {
                    padding-left: 15px;
                }
            }
        }

    }

    &__tabs {
        padding-right: 15px;
        @media screen and (max-width:$small-mobile) {
            padding-left: 15px;
        }
        &-row {
            display: flex;
            margin-bottom: 4.5rem;
        }

        &-box {
            margin-bottom:1.5rem;
            p {
                @media screen and (max-width:$large_tablet) {
                    margin-top: 3rem;
                }
            }

        }

        &-spoiler {
            display: block;
            @media screen and (max-width:$large_tablet) {
                display:none;
            }
        }

        &-slider {
            margin-bottom: 3rem;
            padding-top: 3.5rem;
            @media screen and (max-width:$large_tablet) {
            padding-top: 0;
            }

            .swiper-container {
                padding-right: 20%;
            }
        }

        &-item {
            margin-right: 1.2rem;
            border: 1px solid #bbbbbb;
            padding: 0 2.7rem;
            border-radius: 4px;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 4.3rem;
            text-align: center;
            /* text-transform: lowercase; */
            color: #737373;
            cursor: pointer;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            white-space: nowrap;
            @media screen and (max-width:$large_tablet) {
                padding: 0 0.2rem;
                font-size: 1.3rem;
            }

            &:last-child {
                margin-right: 0px;
            }

            &:hover {
                background: rgba(64, 129, 255, 0.07);
                border: 1px solid #4081FF;
                border-radius: 2px;
                color: #4081FF;
            }

            &.toogles__item-title--active {
                background: rgba(64, 129, 255, 0.07);
                border: 1px solid #4081FF;
                border-radius: 2px;
                color: #4081FF;
            }

            &--mobile {
                background: rgba(64, 129, 255, 0.07);
                border: 1px solid #4081FF;
                border-radius: 2px;
                color: #4081FF;
            }
        }

        &-toggle {
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 142.3%;
            color: #4081FF;
            cursor: pointer;
            display: inline-block;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: 1px;
                width: 100%;
                height: 1px;
                background: #4081FF;
                opacity: 1;
                transition: all 0.5s;
            }

            &:hover::before {
                width: 0%;
                opacity: 0;
            }

        }

        &-tab {
            max-width: 79rem;
            font-size: 16px;
            line-height: 141.4%;
            color: #777777;
            display: block;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.4rem;
            }
        }

        &-text,p {
            margin-bottom: 3rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 1.5rem;
            }
        }

        &-list,ul {
            li {
                margin-bottom: 2rem;
            }
        }

    }

    &__manufacturer {
        max-width: 30.6rem;
        width: 100%;
    }

    &__price {
        @media screen and (max-width:$large_tablet) {
            display: flex;
            align-items: center;
        }

        @media screen and (max-width:$large_mobile) {
            justify-content: space-between;
        }
    }

    &__deshevle {}

    &__quantity {
        max-width: 12.7rem;
        margin-right: 1.5rem;
        display: none;
        &-active {
            display: block;
        }

        @media screen and (max-width:$large_tablet) {
            margin-right: 3.2rem;
        }

        @media screen and (max-width:$large_mobile) {
            max-width: 50%;
            margin-right: 0;
        }
    }

    &__row {
        display: flex;
        margin-bottom: 1.8rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 0;
        }

        @media screen and (max-width:$large_mobile) {
            align-items: center;
        }

        &-basket {
            max-width: 12.5rem;
            width: 100%;

            @media screen and (max-width:$large_mobile) {
                max-width: 50%;

                .basket--blue {
                    display: flex;
                    justify-content: center;
                    border-radius: 0 3px 3px 0;
                }
            }
        }
    }

    .btn {
        margin-bottom: 3rem;

        @media screen and (max-width:$large_mobile) {
            width: 50%;
        }
    }

    &__discount {
        max-width: 18rem;
        width: 100%;
    }

    &__slider {
        max-width: 8.7rem;
        width: 100%;
        height: 413px;
        padding-top: 1rem;
        position: relative;

        @media screen and (max-width:$large_tablet) {
            max-width: 100%;
            height: auto;
            padding-top: 0;
            margin-bottom: 7rem;
        }

        @media screen and (max-width:$large_mobile) {
            height: 300px;
            .swiper-container {
                height: 300px;
            }
        }

        .swiper-container {
            //height: 26.1rem;
            height: 413px;

            @media screen and (max-width:$large_tablet) {
                height: auto;
            }
        }

        @media screen and (min-width:$large_tablet) {
            .swiper-slide{
                height: 72px;
            }
        }

        .swiper-pagination {
            display: none;

            @media screen and (max-width:$large_tablet) {
                left: 0;
                right: 0;
                z-index: 5;
                display: block;

                &-bullet {
                    width: 0.9rem;
                    height: 0.9rem;
                    background: rgba(64, 129, 255, 0.6);
                    margin-right: 0.8rem;
                    transition: all 0.5s;

                    &:last-child {
                        margin-right: 0px;
                    }

                    &-active {
                        width: 1.8rem;
                        background: #4081FF;
                        border-radius: 1rem;
                    }
                }
            }

        }

        &-img {
            width: 100%;
            border: 1px solid #EEEEEE;
            box-sizing: border-box;
            border-radius: 3px;
            transition: all 0.5s;
            cursor: pointer;

            &:hover {
                border: 1px solid #4081FF;
            }

            @media screen and (max-width:$large_tablet) {
                border: none;

                &:hover {
                    border: none;
                }
            }

            &.toogles__item-title--active {
                border: 1px solid #4081FF;

                @media screen and (max-width:$large_tablet) {
                    border: none;
                }
            }

            >div {
                position: relative;
                padding-bottom: 82.75%;

                @media screen and (max-width:$large_tablet) {
                    padding-bottom: 77.6%;
                }

                img {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    &__img {
        //max-width: 48.4rem;
        width: 100%;
        display: block;
        >div {
            position: relative;
            padding-bottom: 81.61%;

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
        }
        img {
            object-fit: contain;
        }
    }

    &__wrap {
        display: flex;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        justify-content: center;
        .toogles__item-content{
            width: 48.4rem;
        }
        .toogles__item_pool .toogles__item-content{
            width: 100%;
        }
    }
}

.productv2 {
    padding-top: 0;
}

#product-attribute-specs-table {
    tr {
        vertical-align: baseline;
    }
    th.label {
        color: #000;
    }
}
.product__power-list {
    display: block;
}

.ui-selectmenu-text {
    background-color: #4081FF;
    color: #fff;
    border: none;
    line-height: 3.2rem;
    padding: 5px 66px;
    font-size: 14px;
    border-radius: 0.4rem;
}

.ui-selectmenu-button.ui-button {
    width: 100%;
    padding: 0;
}

.ui-widget.ui-widget-content {
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
}

.ui-menu .ui-menu-item-wrapper {
    padding: 6px 1em 3px .4em;
}

.ui-menu-item div.ui-state-active, .ui-menu-item div:hover, .ui-menu-item:hover  {
    border: 1px solid #4081FF;
    border-radius: 5px;
    background: none;
}

.addToCartBlock {
    @media screen and (max-width:$small_tablet) {
        position: fixed;
        display: flex;
        justify-content: space-between;
        background-color: #F5F7F8;
        border-top: 1px solid rgba(207, 207, 207, 0.6);
        padding: 10px 15px;
        bottom: 0;
        z-index: 2;
        width: 100%;
        margin-bottom: 0;
        margin-left: -15px;
        .product__price {
            display: flex;
            justify-content: space-between;
            .price {
                margin: 0;
                h2 {
                    font-size: 18px;
                }
                .price__deshevle {
                    margin: 0;
                }            
            }
            .buy_one_click_button {
                display: none!important;
            }
        }
        .add_to_cart_block {
            .product__row-basket {
                max-width: 100%;
                .add_to_cart_button {
                    border-radius: 5px;
                    width: 142px;
                }
            }
        }
        .product__quantity {
            max-width: 125px;
            margin-right: 0;
        }
        .product__inner-postpone.comparisons.comparisons--heart {
            svg {
                width: 18px;
                height: 18px;
                margin: 0;
            }
        }
    }

}

.product__aquabioraphy {
    width: 100%; 
    height: fit-content; 
    margin-bottom: 60px;
    position: relative;
}

.product__aquabioraphy-titles {
    position: absolute;
    color: white;
    bottom: 15%;
    left: 13%;
}

.product__aquabioraphy-title {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.product__aquabioraphy-serie {
    font-size: 40px;
}

.product__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.product__info2 {
    width: 66%;
    &.inactive {
        visibility: hidden;
    }
}

.product__info2-model {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    h4 {
        margin-bottom: 15px;
    }
}

.product__info2-scheme {
    position: relative;
    height: 119px;
    width: 355px;
    text-align: right;
    top: -38px;
}

.product__info2-length, .product__info2-width, .product__info2-depth {
    display: block;
    position: absolute;
    background-color: white;
}

.product__info2-length {
    top: -22px;
    font-size: 12px;
    left: 150px;
    width: 40px;
    text-align: center;
}

.product__info2-width {
    top: 27px;
    width: 40px;
    left: -3px;
    text-align: center;
    font-size: 12px;
    z-index: 2;
    height: 26px;
    padding: 5px 0;
}

.product__info2-depth {
    font-size: 12px;
    top: 28%;
    left: 45%;
    font-weight: 300;
    span {
        font-weight: 500;
    }
}

.product__info2-description {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}

.product__purchase {
    width: 178px;
    &.inactive {
        visibility: hidden;
    } 
}

.product__purchase-prices {
    h4 {
        font-weight: 400;
    }
    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.product__purchase-links {
    .btn {
        padding: 6px 12px;
        width: 100%;
    }
    button {
        margin-bottom: 20px;
        &:nth-child(2) {
            width: 100%;
            font-size: 14px;
            background-color: #ffffff;
            border: 1px solid #4081ff;
            color: #4081ff;
            border-radius: 5px;
            padding: 12px;
        }
    }
    a {
        display: block;
        font-size: 13px;
        margin-bottom: 20px;
        text-decoration: underline;
        color: #4081FF;
    }
}

.product__purchase-discount {
    font-size: 12px;
    text-align: center;
    max-width: 18rem;
    width: 100%;
    background-color: #FFD600;
    padding: 5px 0;
    font-weight: 600;
}

.product__dropdowns {
    margin-bottom: 60px;
}

.product__optionDropdowns {
    &.inactive {
        transform: translateY(300px);
    }
}

.product__dropdown {
    cursor: pointer;
    background-color: #FAFAFA;
    height: 154px;
    padding: 0 13%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(207, 207, 207, 0.6);
    &:last-child {
        border-bottom: none;
    }
}

.product__dropdownItem {
    padding: 30px;
    height: auto;
    background: #fff;
    align-items: baseline;
    .article {
        max-width: 100%;
        padding: 0 13%;
        margin: 0;
    }
    &_flex {
        display: flex;
        div {
            margin: 0 10px;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
    .services__text {
        max-width: 90%;
    }
    .product__dropdownItem-projectsLink {
        font-size: 16px;
        color: #4081FF;
        span {
            margin-right: 15px;
        }
    }
}

.product__modelDropdown {
    height: 135px;
    opacity: 0.5;
    &:hover {
        opacity: 1;
        color: black;
    }
    div {
        &:last-child {
            img {
                max-width: 50%;
            }
        }
    }
}

.close_modelDropdown {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 3;
    svg {
        width: 20px;
        height: 20px;
    }
}

.product__info2-model .toggle_modelsDropdown  { 
    font-size: 29px;
    border-bottom: 2px dashed;
    text-decoration: none;
    svg {
        position: relative;
        bottom: 5px;
    }
    &:hover {
        color: #3b3b3b;
    }
}

.product__dropdown .toggle_modelsDropdown {
    font-size: 29px;
    text-decoration: none;
    &:hover {
        color: #3b3b3b;
    }
}

.product__dropdown-title {
    font-size: 28px;
    font-weight: 600;
}

.product__series {
    margin-bottom: 60px;
}

.product__series-headline {
    font-size: 32px;
    margin-bottom: 40px;
}

.product__series-previews {
    display: flex;
}

.product__series-preview {
    margin-right: 36px;
    height: 320px;
    text-align: center;
    img {
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 15px;
    }
    &:last-child {
        margin-right: 0;
    }
    :hover {
        color: #3b3b3b;
    }
}

.product__dropdown-icon {
    width: 8%;
    svg {
        fill: #000;
    }
}

.product__main .product__dropdowns {
    position: absolute;
    width: 100%;
    top: -44px;
    z-index: 3;
    margin-bottom: 0;
    display: none;
    .product__dropdown {
        background-color: white;
        padding: 0;
        h4 {
            margin-bottom: 15px;
        }
    }
    &.opened {
        display: block;
    }
}

.product__colors{
    display:flex;
    flex-wrap: wrap;
}

.product__colors.product__colors--col3 a,.product__colors.product__colors--col3 svg{
    max-width: 33%;
    padding: 30px;
}

@media screen and (max-width:768px){
    .product__colors.product__colors--col3 a,.product__colors.product__colors--col3 svg{
        padding: 6px;
    }

}

.options__img{
    max-width: 260px;
    width: 100%;
    img {
        margin-bottom:2.5rem;
        padding-right:35px;
    }
  }
  .options h3{
    margin-bottom: 10px;
      color: #000;
      font-size: 21px;
  }
    .options{
      display:flex;
      border-bottom: 1px solid #ccc;
      margin-bottom: 53px;
      padding-bottom: 20px;
    }
    .options svg{
      max-width: 24px;
      display: inline-block;
      height: 21px;
      margin-bottom: -4px;
    }

.poolPage_column {
    @media screen and (max-width: $small_tablet){
        padding-left: 15px;
        .product__column-title {
            margin: 2rem 0;
        }
        .product__specifications {
            display: block;
        }
    }
}